[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
colorama = "*"
pyinstaller = "*"
pyarmor = "*"

[dev-packages]
pylint = "*"

[requires]
python_version = "3.9"

[scripts]
build = "pyarmor pack --clean -e '--onefile ' ./encryptor.py"
docker-build = "pyinstaller --onefile encryptor.py"
docker-imagegen = "docker build . -t encryptor"
run-dev = "python encryptor.py"
lint = "pylint encryptor.py"
