[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
colorama = "*"
pyenchant = "*"
pyinstaller = "*"

[dev-packages]

[requires]
python_version = "3.9"

[scripts]
build = "pyinstaller --onefile main.py"
build-docker = "docker build . -t encryptor"
run-dev = "python main.py"
